{
  "main_contract_path": "0x5a7485b6343924554fc27cd2460f932739b53659",
  "create_contract_gas_amount": 1400000,
  "employee_create_gas_amount": 4000000,
  "send_week_salary_gas_amount": 1555091,
  "send_transaction_gas_amount": 21000,
  "work_start_transaction_gas_amount": 80745,
  "gasPrice": 1000000000,
  "defaultAccount": 0,
  "account_password": "password",
  "unlock_time": 1000,
  "host": "http://89.223.28.86",
  "port": "8545"
}